In [1]:
#data structures
#list

a = []
a = 1 # a is an integer variable

In [12]:
a = [2,5,7,9]
a
b = ['hello', 'world']
b
c = [23,'str',1.5,10]
c
d = [23,['level1', 'level2'],'hello',3.8] #list inside another list

In [9]:
len(b),len(d)

(2, 4)

In [13]:
print(a)
print(d[1])

[2, 5, 7, 9]
['level1', 'level2']

In [15]:
people = ['we','wee','wewe']
print(people)
people[2] = 'asd'
print(people)

['we', 'wee', 'wewe']
['we', 'wee', 'asd']

In [16]:
b[0] = 'hi'
print(b)

['hi', 'world']

In [17]:
a = [2,5,7,9]

In [21]:
42 not in a #whole thing is a boolean expression
'tom' in a

False

In [22]:
42 not in a 
'tom' in a

False

In [24]:
numbers = [1,2,3,45,6]
people = ['lucy','tom','jerry']
a = numbers + people 
print(a)

[1, 2, 3, 45, 6, 'lucy', 'tom', 'jerry']

In [26]:
c = ['your dad']
a = a + c
print(a)

[1, 2, 3, 45, 6, 'lucy', 'tom', 'jerry', 'your dad', 'your dad']

In [29]:
a = [2,3,4]
b = [5,6]
c = a + b
a.append(b)
c,a

([2, 3, 4, 5, 6], [2, 3, 4, [5, 6]])

In [33]:
a = [6,2,4,8]
a.sort()
a
a = ['tom', 'harry' ,'anna']
a.sort()
a

['anna', 'harry', 'tom']

In [34]:
m = [[1,2,3],[4,5,6],[7,8,9]]
m

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [35]:
m[1][2]

6

In [37]:
customer = {'name': 'harry', 'age':43, 'phone': '111222'}
customer

{'name': 'harry', 'age': 43, 'phone': '111222'}

In [39]:
customer['name']
customer['phone'] = '222333'
customer

{'name': 'harry', 'age': 43, 'phone': '222333'}

In [40]:
del customer['age']
customer

{'name': 'harry', 'phone': '222333'}

In [43]:
customer.keys()
customer.values()
customer.items()

dict_items([('name', 'harry'), ('phone', '222333')])

In [49]:
# use a dict to represent a customer
c1 = {
    'name': 'tom',
    'age': 30,
    'children': ('ann', 'john'),
    'cars':[
        {'model': 'BMW', 'mpg': 23}, #car1
        {'model': 'tesla', 'mpg': 30}, #car2
    ]
}

In [50]:
c1['children'][1]

'john'

In [51]:
c1['cars'][1]['model']

'tesla'