# Question 1

Read the country info csv file used in the lecture using pandas and finish the following questions.

In [27]:
# import and read csv
import pandas as pd
df = pd.read_csv('countries-2021.csv')

In [28]:
# show countries with population greater than 100 and gdp < 4
df[(df.gdp < 4) & (df.population > 100)]

  country   gdp  population  area    capital      continent
6   India  2.72     1380.00  3.29  New Delhi           Asia
8  Brazil  1.87      212.56  8.52   Brasilia  South America

show average population by continent sorted in descending order:

```
continent
Asia             981.933333
South America    212.560000
North America    184.370000
Europe            69.350000
```

In [29]:
# show average population by continent
df.groupby('continent')['population'].mean().sort_values(ascending=False)

continent
Asia             981.933333
South America    212.560000
North America    184.370000
Europe            69.350000
Name: population, dtype: float64

# Question 2

Download the csv from https://www.kaggle.com/datasets/harrywang/housing and do the following analysis using pandas.

In [30]:
# read csv
housing = pd.read_csv('housing.csv')

In [31]:
housing.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [32]:
# show the data rows from 100 to 110 with only median value, median income, and population
housing.loc[100:110, ['median_house_value', 'median_income', 'population']]

     median_house_value  median_income  population
100            257800.0         2.4912      2304.0
101            273400.0         3.2177      2563.0
102            237500.0         3.1250       389.0
103            350000.0         2.5795       895.0
104            335700.0         2.8406      2689.0
105            313400.0         4.9306       674.0
106            268500.0         3.2727       709.0
107            259400.0         3.1691       686.0
108            275700.0         3.9000      1444.0
109            225000.0         3.9063      1520.0
110            262500.0         5.0917       550.0

show the percentage of houses according to ocean_proximity:

```
<1H OCEAN     0.442636
INLAND        0.317393
NEAR OCEAN    0.128779
NEAR BAY      0.110950
ISLAND        0.000242
```

In [33]:
# show the percentage of houses according to ocean_proximity
housing.ocean_proximity.value_counts(normalize=True)

<1H OCEAN     0.442636
INLAND        0.317393
NEAR OCEAN    0.128779
NEAR BAY      0.110950
ISLAND        0.000242
Name: ocean_proximity, dtype: float64

Calculate the average income by ocean proximity and find out which group has the highest and lowest income:

- Highest: <1H OCEAN
- Lowest: ISLAND

In [34]:
# Calculate the average income by ocean proximity and find out which group has the highest and lowest income
housing.groupby('ocean_proximity')['median_income'].mean().sort_values()

ocean_proximity
ISLAND        2.744420
INLAND        3.208996
NEAR OCEAN    4.005785
NEAR BAY      4.172885
<1H OCEAN     4.230682
Name: median_income, dtype: float64

In [35]:
print(f"Highest: {housing.groupby('ocean_proximity')['median_income'].mean().sort_values().index[4]}")
print(f"Lowest: {housing.groupby('ocean_proximity')['median_income'].mean().sort_values().index[0]}")

Highest: <1H OCEAN
Lowest: ISLAND